.form {
  position: relative;
  width: 100%;
  height: 46px;
}
.input {
  border: 2px solid transparent;
  border-radius: 3px;
  width: 100%;
  padding: 0 24px;
  outline: none;
  text-align: center;
  height: 100%;
  font-family: inherit;
  text-align: initial;
  text-transform: capitalize;
  font-size: 15px;
}

@media screen and (max-width: 991px) {
  .form {
    height: 40px;
  }
}
