.movie_btn {
  background-color: transparent;
  outline: none;
  cursor: pointer;
  border: none;
  padding: 0;
  transition: all 0.3s ease;
}
.add_btn {
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 3px;
  padding: 6px 8px;
  border: 1px solid transparent;
}
.detail_btn {
  color: orange;
  padding:4px 6px;
  border-radius: 3px;
}


@media only screen and (min-width:991px){
.detail_btn:hover{
color: white;
background-color: orange;
}
}
@media screen and  (max-width:991px){
  .detail_btn {
  color: white;
  background-color: orange;
  font-size: 13px;

}

}
