@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic");

:root {
  --montserrat: "Montserrat", sans-serif;
  --headerHeight: 96px;
  --footerHeight: 60px;

  /*Colors*/
  --white: #ffffff;
  --colorGreen: #33c863;
  --greyColor: darkslategrey;
  --headerColor: #16213e;
  --body-bgColor: #091c25;

  /*spaces*/
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;
  --space-5: 20px;
}
