.header {
  background-color: var(--headerColor);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}
.header_container {
  height: var(--headerHeight);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
