.nav {
  height: 100%;
  display: flex;
  align-items: center;
}
.nav_link {
  height: 100%;
  color: var(--white);
  font-size: 1.1rem;
  letter-spacing: 0.4px;
  display: flex;
  align-items: center;
  transition: all 0.3s linear;
}
.nav_link:last-child {
  margin-left: 24px;
}
.nav_link:hover {
  color: var(--colorGreen);
}
